<div class="container">
<div class="h1">Create a new List</div>

<%= simple_form_for [ @list ] do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create List", class: "btn btn-success" %>
<% end %>

<%= render :partial => "bookmarks/form", :locals => { list: @list, bookmark: @bookmark } %>

<%= link_to 'Back', root_path %>
</div>
