<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),
                          rgba(0,0,0,0.3)),
                          url('<%= cl_image_path @list.photo.key, crop: :fill, gravity: :face %>')">
  <div class="container container-banner">
      <h1 class="mb-5"><%= @list.name %></h1>
      <div class="d-flex gap-3 justify-content-start links-banner">
        <h5><a href="#add_review" class="btn btn-secondary mr-5">
                <span class="material-icons-outlined" style="vertical-align: -6px;">grade</span>
                Review this List</a></h5>
        <h5><a href="#add_bookmark" class="btn btn-secondary">
                <span class="material-icons-outlined" style="vertical-align: -6px;">add_circle_outline</span>
                Add Bookmark</a></h5>
      </div>
  </div>
</div>

<div class="container">

  <div class="row mt-5">
    <% @list.bookmarks.includes(:movie).each do |bookmark| %>
      <div class="col-12 col-md-6">
        <div class="card my-3">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-2"><%= bookmark.movie.title %></h3>
            <p class="card-text"><%= bookmark.movie.overview %></p>
            <p class="card-text mt-4 review"> <strong>Review:</strong> <%= bookmark.comment %></p>
            <%= link_to bookmark_path(bookmark), method: 'DELETE', data: { confirm: 'Are you sure?' } do %>
              <p><span class="material-icons-outlined"  style="vertical-align: -6px;">delete_outline</span> delete </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-md-12 ">
      <div class="card my-3  border-warning border-2 border-end-0 border-start-0 list-review pt-5 pb-5">
        <div class="card-body">
          <h3 class="card-title mb-5"><%= @list.name %> Review</h3>
          <% @list.reviews.each do |review| %>
            <p class="card-text"><strong>Review: </strong><%= review.comment %></p>
            <p class="card-text"><strong>Rating: </strong><%= review.rating %></p>
            <hr>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 d-flex flex-row justify-content-between">
    <%# <div class="col-12 col-md-6"> %>
      <div class="card col-6 col-md-6 my-3 bg-warning border-0" id="add_bookmark">
        <%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
      </div>
    <%# </div> %>
    <%# <div class="col-12 col-md-6"> %>
      <div class="card col-6 col-md-6 my-3 bg-warning border-light border-3 border-top-0 border-end-0 border-bottom-0" id="add_review">
      <%= render "reviews/form", list: @list, review: @review %>
      </div>
    <%# </div> %>
  </div>

  <div class="row mt-5">
    <button type="button" class="btn btn-outline-primary my-3"><%= link_to 'Back', root_path %></button>
  </div>
</div>
