<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),
                          rgba(0,0,0,0.3)),
                          url('<%= cl_image_path @list.photo.key, crop: :fill, gravity: :face %>')">
  <div class="container">
      <h1><%= @list.name %></h1>
  </div>
</div>

<br>
<div class="container">

  <div class="row">
    <% @list.bookmarks.includes(:movie).each do |bookmark| %>
      <div class="col-6">
        <div class="card">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= bookmark.movie.title %></h5>
            <p class="card-text"><%= bookmark.movie.overview %></p>
            <p class="card-text"> Review: <%= bookmark.comment %></p>
            <%= link_to bookmark_path(bookmark), method: 'DELETE', data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "bookmarks/form", list: @list, bookmark: @bookmark %>
  <%= render "reviews/form", list: @list, review: @review %>

  <%= link_to 'Back', root_path %>

</div>
