<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h3>New Bookmark</h3>

      <%= simple_form_for [ list, bookmark ] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit "Add new Bookmark", class: 'btn btn-success'%>
      <% end %>

      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>
