<div class="container">
  <div class="row justify-content-center">
    <div class="col-3">
      <h3>New Bookmark</h3>

      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, include_hidden: false %>
        <%= f.input :comment %>
        <%= f.submit "Add new Bookmark", class: 'btn btn btn-primary'%>
      <% end %>

      <%= link_to 'Back', root_path %> |
    </div>
  </div>
</div>
